sudo: false #
before_cache:
  - rm -f $HOME/.gradle/caches/modules-2/modules-2.lock
#cache:
#  directories:
#    - $HOME/.gradle/caches/
#    - $HOME/.gradle/wrapper/ #
language: groovy #
jdk:
  - openjdk8 #
before_install:
  - curl -s "https://get.sdkman.io" | bash
  - source "$HOME/.sdkman/bin/sdkman-init.sh"
  - echo sdkman_auto_answer=true > ~/.sdkman/etc/config
  - source "/home/travis/.sdkman/bin/sdkman-init.sh"
  - sdk install grails 4.0.0
  - sdk use grails 4.0.0
script:
  - ./gradlew clean
  - ./gradlew shiroTest
  - ./gradlew shiroCliTest
